body {
  background-color: ivory;
  color: gray;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 16px;
color: #00008B;
background-color: lavender;
}


ol.a {
  list-style-type: lower-alpha;
}

ul.b {
  list-style-type: square;}

